<%# <i class="circular blue comments icon"></i> %>
<h4 class="ui center aligned medium icon header">
  <img src="https://cdn-icons-png.flaticon.com/128/17038/17038329.png" class="circular" alt="Chatroom Icon">
  <div class="content">You have entered the chatroom</div>
</h4>
<div class="ui two column grid">
  <div class="sixteen wide column">
    <div class="ui fluid raised card">
      <div class="content" id="messages" style="height: 30em; overflow-y: auto;">
        <div class="ui feed" id="message-container">
          <%= render @messages %>
        </div>
      </div>
      <div class="extra content">
        <%= form_for(@message, html: {class: "ui reply form", role: "form"}, url: message_path, remote: true) do |f| %>
          <div class="field">
            <div class="ui fluid icon input">
              <%= f.text_field :body, placeholder: "Enter a message... [Hit Enter/Return key to send]" %>
              <%# <%= f.button '<i class="bordered inverted blue paper plane icon"></i>'.html_safe %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
