<div class="header item" style="pointer-events: none; cursor: default;">
  <span style="color: white;">Talk</span><span style="color: skyblue;">Mate</span>
</div>
<%= link_to "Chaatroom", root_path, class: "item" %>
<%# <a class="item">
  Messages
</a> %>
<div class="right menu">
  <div class="ui dropdown item">
    Account <i class="dropdown icon"></i>
    <div class="menu">
      <% if logged_in? %>
        <%= link_to "Logout", logout_path, method: :destroy, class: "item", style: "color: red !important;" %>
      <% else %>
        <%= link_to "Login", login_path, class: "item" %>
      <% end %>
    </div>
  </div>
  <%# <% if !logged_in? %>
  <%# <div class="item">
      <div class="ui primary button">Sign Up</div>
    </div> %>
  <%# <% end %>
</div>