<div class="header item" style="pointer-events: none; cursor: default;">
  <span style="color: white;">Talk</span><span style="color: skyblue;">Mate</span>
</div>
<a class="item">
  Home
</a>
<a class="item">
  Messages
</a>
<div class="right menu">
  <div class="ui dropdown item">
    Account <i class="dropdown icon"></i>
    <div class="menu">
      <a class="item">Login Account</a>
      <a class="item" style="color: red !important;">Delete Account</a>
    </div>
  </div>
  <div class="item">
    <div class="ui primary button">Sign Up</div>
  </div>
</div>