<div class="header item">
  <%# style="pointer-events: none; cursor: default;" %>
  <%= link_to root_path, style: "color: inherit; text-decoration: none;" do %>
    <img src="https://cdn-icons-png.flaticon.com/128/17038/17038329.png" alt="TalkMate Icon" style="height: 20px; vertical-align: middle; margin-right: 5px;">
    <span style="color: white;">Talk</span><span style="color: skyblue;">Mate</span>
  <% end %>
</div>
<% if logged_in? %>
  <%= link_to "Chaatroom", chatroom_path, class: "item" %>
<% end %>
<div class="right menu">
  <div class="ui dropdown item">
    Account <i class="dropdown icon"></i>
    <div class="menu">
      <% if logged_in? %>
        <%= link_to "Logout", logout_path, method: :destroy, class: "item", style: "color: red !important;" %>
      <% else %>
        <%= link_to "Login", login_path, class: "item" %>
      <% end %>
    </div>
  </div>
</div>